Repository rytilahti/python-miio, pull requests merged in 2020-10, with the labels that each got.

#827 Remove __json__ boilerplate code from all status containers
  miio/airconditioningcompanion.py
  miio/airconditioningcompanionMCN.py
  miio/airdehumidifier.py
  miio/airfresh.py
  miio/airfresh_t2017.py
  miio/airhumidifier.py
  miio/airhumidifier_jsq.py
  miio/airhumidifier_miot.py
  miio/airhumidifier_mjjsq.py
  miio/airpurifier.py
  miio/airpurifier_miot.py
  miio/airqualitymonitor.py
  miio/aqaracamera.py
  miio/ceil.py
  miio/chuangmi_camera.py
  miio/chuangmi_plug.py
  miio/click_common.py
  miio/cooker.py
  miio/device.py
  miio/fan.py
  miio/heater.py
  miio/philips_bulb.py
  miio/philips_eyecare.py
  miio/philips_moonlight.py
  miio/philips_rwread.py
  miio/powerstrip.py
  miio/pwzn_relay.py
  miio/vacuumcontainers.py
  miio/viomivacuum.py
  miio/waterpurifier.py
  miio/wifirepeater.py
  miio/wifispeaker.py
Labels: breaking change

#829 yeelight: Check color mode values for emptiness
  miio/yeelight.py
Labels: bug

#830 improve poetry usage documentation
  docs/new_devices.rst
Labels: documentation

#819 Add support for dmaker.fan.p9 and dmaker.fan.p10
  README.rst
  docs/api/miio.airconditioningcompanionMCN.rst
  docs/api/miio.fan_common.rst
  docs/api/miio.fan_miot.rst
  docs/api/miio.rst
  miio/__init__.py
  miio/discovery.py
  miio/fan.py
  miio/fan_common.py
  miio/fan_miot.py
  miio/tests/test_fan_miot.py
Labels: miot, new device
