Repository rytilahti/python-miio, pull requests merged in 2020-08, with the labels that each got.

#784 Add mopping state & log a warning when encountering unknown state
  miio/viomivacuum.py
Labels: enhancement

#787 Define WaterFlow as an enum
  miio/vacuum.py
Labels: bug

#795 Add zhimi.airfresh.va4 support
  README.rst
  miio/__init__.py
  miio/airfresh.py
  miio/discovery.py
  miio/tests/test_airfresh.py
Labels: miio, new device
