Repository rytilahti/python-miio, pull requests merged in 2020-07, with the labels that each got.

#770 improve gateway light class
  miio/gateway.py
Labels: enhancement

#773 Vacuum: Add water volume setting (s5 max)
  miio/vacuum.py
Labels: enhancement

#772 Add support for zhimi.humidifier.ca4 (miot)
  README.rst
  docs/api/miio.airhumidifier_miot.rst
  miio/__init__.py
  miio/airhumidifier_miot.py
  miio/tests/test_airhumidifier_miot.py
Labels: miot, new device

#777 Improve documentation presentation
  docs/api/miio.rst
  docs/conf.py
  poetry.lock
  pyproject.toml
Labels: documentation
