Repository rytilahti/python-miio, pull requests merged in 2020-11, with the labels that each got.

#848 Vacuum: handle invalid cron elements gracefully
  miio/vacuum.py
  miio/vacuumcontainers.py
Labels: bug

#799 Added some parameters: Error code, Viomimode, Viomibintype
  miio/viomivacuum.py
Labels: enhancement

#853 Fix PTC support of the dmaker.airfresh.t2017
  miio/airfresh_t2017.py
  miio/tests/test_airfresh_t2017.py
Labels: bug

#825 Add basic support for xiaomi.aircondition.mc1, mc2, mc4, mc5
  README.rst
  miio/__init__.py
  miio/airconditioner_miot.py
  miio/discovery.py
  miio/tests/test_airconditioner_miot.py
Labels: miot, new device

#826 Add basic support for yunmi.waterpuri.lx9 and lx11
  README.rst
  miio/__init__.py
  miio/discovery.py
  miio/waterpurifier_yunmi.py
Labels: miio, new device

#856 Add deerma.humidifier.jsq1 support
  README.rst
  miio/airhumidifier_mjjsq.py
  miio/discovery.py
  miio/tests/test_airhumidifier_mjjsq.py
Labels: miio, new device

#857 miiocli: remove network & AP information from info output
  miio/device.py
Labels: bug

#851 Initial support for lumi.curtain.hagl05
  README.rst
  miio/__init__.py
  miio/curtain_youpin.py
Labels: miot, new device

#865 Add airdog.airpurifier.{x3,x5,x7sm} support
  README.rst
  miio/__init__.py
  miio/airpurifier_airdog.py
  miio/discovery.py
  miio/tests/test_airpurifier_airdog.py
Labels: miio, new device

#862 Add dmaker.airfresh.a1 support
  README.rst
  miio/__init__.py
  miio/airfresh_t2017.py
  miio/tests/test_airfresh_t2017.py
Labels: miio, new device

#868 Initial support for HUIZUO PISCES For Bedroom
  README.rst
  miio/__init__.py
  miio/huizuo.py
  miio/tests/test_huizuo.py
Labels: miot, new device

#869 Add generic __repr__ for Device class
  miio/alarmclock.py
  miio/device.py
  miio/yeelight.py
Labels: enhancement

#872 Add missing annotations for ViomiVacuum
  miio/viomivacuum.py
Labels: enhancement

#871 Add Rosou SS4 Ventilator (leshow.fan.ss4) support
  README.rst
  miio/__init__.py
  miio/discovery.py
  miio/fan_leshow.py
  miio/tests/test_fan_leshow.py
Labels: miio, new device
