Repository rytilahti/python-miio, pull requests merged in 2021-01, with the labels that each got.

#898 Fix discovery for python-zeroconf 0.28+
  miio/discovery.py
  poetry.lock
  pyproject.toml
Labels: breaking change, bug

#895 Add support for zhimi.heater.mc2
  README.rst
  miio/__init__.py
  miio/heater_miot.py
  miio/tests/test_heater_miot.py
Labels: miot, new device

#887 Add support for Yeelight Dual Control Module (yeelink.switch.sw1)
  README.rst
  miio/__init__.py
  miio/tests/dummies.py
  miio/tests/test_yeelight_dual_switch.py
  miio/yeelight_dual_switch.py
Labels: miot, new device

#903 Fix airpurifier_airdog x5 and x7sm to derive from the x3 base class
  miio/airpurifier_airdog.py
Labels: bug

#893 Vacuum: add fan speed preset for gen1 firmwares 3.5.8+
  miio/vacuum.py
Labels: bug

#881 Add support for all Huizuo Lamps (w/ fans, heaters, and scenes)
  README.rst
  miio/__init__.py
  miio/huizuo.py
  miio/tests/test_huizuo.py
Labels: miot, new device
