Repository rytilahti/python-miio, pull requests merged in 2021-05, with the labels that each got.

#1028 Fix exception on devices with removed lan_ctrl
  miio/yeelight.py
Labels: bug

#1023 Relax zeroconf version requirement
  poetry.lock
  pyproject.toml
Labels: enhancement

#1012 Add basic dmaker.fan.1c support
  README.rst
  miio/__init__.py
  miio/discovery.py
  miio/fan_miot.py
  miio/tests/test_fan_miot.py
Labels: miot, new device

#1024 Improve test_properties output
  miio/device.py
Labels: enhancement

#1032 README.md improvements
  README.rst
Labels: documentation

#1039 Add features for newer vacuums (eg Roborock S7)
  miio/tests/test_vacuum.py
  miio/vacuum.py
  miio/vacuum_cli.py
  miio/vacuumcontainers.py
Labels: enhancement

#1043 Add optional length parameter to play_* for chuangmi_ir
  miio/chuangmi_ir.py
Labels: enhancement

#1046 Convert codebase to pass mypy checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  devtools/containers.py
  docs/conf.py
  miio/airconditioningcompanion.py
  miio/airdehumidifier.py
  miio/airfilter_util.py
  miio/airhumidifier.py
  miio/airpurifier.py
  miio/aqaracamera.py
  miio/chuangmi_ir.py
  miio/chuangmi_plug.py
  miio/click_common.py
  miio/cooker.py
  miio/discovery.py
  miio/dreamevacuum_miot.py
  miio/fan.py
  miio/gateway/__init__.py
  miio/gateway/devices/subdevice.py
  miio/gateway/gateway.py
  miio/gateway/gatewaydevice.py
  miio/heater.py
  miio/miioprotocol.py
  miio/miot_device.py
  miio/philips_moonlight.py
  miio/pwzn_relay.py
  miio/tests/dummies.py
  miio/tests/test_miotdevice.py
  miio/vacuum.py
  miio/vacuum_cli.py
  miio/vacuum_tui.py
  miio/vacuumcontainers.py
  miio/viomivacuum.py
  miio/yeelight.py
  miio/yeelight_dual_switch.py
  poetry.lock
  pyproject.toml
  tox.ini
Labels: enhancement
