Repository rytilahti/python-miio, pull requests merged in 2021-03, with the labels that each got.

#961 Improve airpurifier doc strings by adding raw responses
  miio/airhumidifier_miot.py
  miio/airpurifier.py
  miio/airpurifier_miot.py
Labels: documentation

#917 added support for zhimi.humidifier.cb2
  miio/airhumidifier.py
Labels: miio, new device

#933 vacuum: skip pausing on s50 and s6 maxv before return home call
  miio/vacuum.py
Labels: bug

#905 Improve MiotDevice API (get_property_by, set_property_by, call_action, call_action_by)
  docs/troubleshooting.rst
  miio/airconditioner_miot.py
  miio/airhumidifier_miot.py
  miio/airpurifier_miot.py
  miio/airqualitymonitor_miot.py
  miio/curtain_youpin.py
  miio/fan_miot.py
  miio/heater_miot.py
  miio/huizuo.py
  miio/miot_device.py
  miio/tests/test_miotdevice.py
  miio/tests/test_vacuum.py
  miio/yeelight_dual_switch.py
Labels: enhancement, miot

#941 Cleanup: add DeviceStatus to simplify status containers
  miio/__init__.py
  miio/airconditioner_miot.py
  miio/airconditioningcompanion.py
  miio/airconditioningcompanionMCN.py
  miio/airdehumidifier.py
  miio/airfresh.py
  miio/airfresh_t2017.py
  miio/airhumidifier.py
  miio/airhumidifier_jsq.py
  miio/airhumidifier_miot.py
  miio/airhumidifier_mjjsq.py
  miio/airpurifier.py
  miio/airpurifier_airdog.py
  miio/airpurifier_miot.py
  miio/airqualitymonitor.py
  miio/airqualitymonitor_miot.py
  miio/alarmclock.py
  miio/aqaracamera.py
  miio/ceil.py
  miio/chuangmi_camera.py
  miio/chuangmi_plug.py
  miio/cooker.py
  miio/curtain_youpin.py
  miio/device.py
  miio/dreamevacuum_miot.py
  miio/fan.py
  miio/fan_leshow.py
  miio/fan_miot.py
  miio/heater.py
  miio/heater_miot.py
  miio/huizuo.py
  miio/miot_device.py
  miio/philips_bulb.py
  miio/philips_eyecare.py
  miio/philips_moonlight.py
  miio/philips_rwread.py
  miio/powerstrip.py
  miio/pwzn_relay.py
  miio/tests/test_devicestatus.py
  miio/toiletlid.py
  miio/vacuumcontainers.py
  miio/viomivacuum.py
  miio/waterpurifier.py
  miio/waterpurifier_yunmi.py
  miio/wifirepeater.py
  miio/wifispeaker.py
  miio/yeelight.py
  miio/yeelight_dual_switch.py
Labels: enhancement

#963 Report more specific exception when airdehumidifer is off
  miio/airdehumidifier.py
Labels: bug

#946 Fix the logic of staring cleaning a room for Viomi
  miio/viomivacuum.py
Labels: bug

#970 Make netifaces optional dependency
  miio/updater.py
  pyproject.toml
Labels: enhancement

#976 Fix wrong ordering of contextmanagers
  miio/vacuum.py
  miio/vacuum_cli.py
Labels: bug
