Repository rytilahti/python-miio, pull requests merged in 2021-11, with the labels that each got.

#1165 Move vacuums to self-contained integrations
  miio/__init__.py
  miio/integrations/vacuum/__init__.py
  miio/integrations/vacuum/dreame/__init__.py
  miio/integrations/vacuum/dreame/dreamevacuum_miot.py
  miio/integrations/vacuum/dreame/tests/__init__.py
  miio/integrations/vacuum/dreame/tests/test_dreamevacuum_miot.py
  miio/integrations/vacuum/mijia/__init__.py
  miio/integrations/vacuum/mijia/g1vacuum.py
  miio/integrations/vacuum/mijia/tests/__init__.py
  miio/integrations/vacuum/roborock/__init__.py
  miio/integrations/vacuum/roborock/tests/__init__.py
  miio/integrations/vacuum/roborock/tests/test_vacuum.py
  miio/integrations/vacuum/roborock/vacuum.py
  miio/integrations/vacuum/roborock/vacuum_cli.py
  miio/integrations/vacuum/roborock/vacuum_tui.py
  miio/integrations/vacuum/roborock/vacuumcontainers.py
  miio/integrations/vacuum/roidmi/__init__.py
  miio/integrations/vacuum/roidmi/roidmivacuum_miot.py
  miio/integrations/vacuum/roidmi/tests/__init__.py
  miio/integrations/vacuum/roidmi/tests/test_roidmivacuum_miot.py
  miio/integrations/vacuum/viomi/__init__.py
  miio/integrations/vacuum/viomi/viomivacuum.py
  pyproject.toml
Labels: breaking change

#1174 add support for smart pet water dispenser mmgg.pet_waterer.s1
  README.rst
  miio/__init__.py
  miio/integrations/petwaterdispenser/__init__.py
  miio/integrations/petwaterdispenser/device.py
  miio/integrations/petwaterdispenser/status.py
  miio/integrations/petwaterdispenser/tests/__init__.py
  miio/integrations/petwaterdispenser/tests/test_status.py
Labels: enhancement, new device, miot

#1184 Add py.typed to the package
  miio/py.typed
Labels: enhancement

#1191 Deprecate roborock specific miio.Vacuum
  miio/__init__.py
  miio/integrations/vacuum/roborock/__init__.py
  miio/integrations/vacuum/roborock/tests/test_vacuum.py
  miio/integrations/vacuum/roborock/vacuum.py
  miio/integrations/vacuum/roborock/vacuum_cli.py
  miio/integrations/vacuum/roborock/vacuum_tui.py
  miio/vacuum.py
  pyproject.toml
Labels: breaking change
