Repository rytilahti/python-miio, pull requests merged in 2021-09, with the labels that each got.

#1130 Remove deprecated cli tools (plug,miceil,mieye)
  docs/api/miio.ceil_cli.rst
  docs/api/miio.philips_eyecare_cli.rst
  docs/api/miio.plug_cli.rst
  docs/api/miio.rst
  docs/ceil.rst
  docs/eyecare.rst
  docs/index.rst
  docs/plug.rst
  miio/ceil_cli.py
  miio/philips_eyecare_cli.py
  miio/plug_cli.py
  pyproject.toml
Labels: breaking change

#867 Support for Xiaomi Mijia G1 (mijia.vacuum.v2)
  .gitignore
  README.rst
  miio/g1vacuum.py
Labels: new device, miot

#1142 Add examples how to avoid model autodetection
  README.rst
Labels: documentation
