Repository rytilahti/python-miio, pull requests merged in 2021-02, with the labels that each got.

#858 Add support for Scishare coffee maker (scishare.coffee.s1102)
  README.rst
  miio/__init__.py
  miio/scishare_coffeemaker.py
Labels: miio, new device

#900 Add Qingping Air Monitor Lite support (cgllc.airm.cgdn1)
  README.rst
  miio/__init__.py
  miio/airqualitymonitor_miot.py
  miio/tests/test_airqualitymonitor_miot.py
Labels: miot, new device

#899 Add support for Xiaomi Air purifier 3C
  README.rst
  miio/__init__.py
  miio/airpurifier_miot.py
  miio/tests/test_airpurifier_miot_mb4.py
Labels: miot, new device

#924 Refactor & improve support for gateway devices
  miio/gateway.py
  miio/gateway/__init__.py
  miio/gateway/alarm.py
  miio/gateway/devices/__init__.py
  miio/gateway/devices/light.py
  miio/gateway/devices/sensor.py
  miio/gateway/devices/subdevice.py
  miio/gateway/devices/subdevices.yaml
  miio/gateway/devices/switch.py
  miio/gateway/gateway.py
  miio/gateway/gatewaydevice.py
  miio/gateway/light.py
  miio/gateway/radio.py
  miio/gateway/zigbee.py
Labels: enhancement

#808 Improve Viomi support (status reporting, maps)
  miio/viomivacuum.py
Labels: enhancement

#936 add method to load subdevices from dict (EU gateway support)
  miio/gateway/gateway.py
Labels: enhancement

#947 Unify subdevice types
  miio/gateway/devices/subdevices.yaml
Labels: enhancement

#954 Add troubleshooting for Roborock app
  docs/troubleshooting.rst
Labels: documentation

#952 Initial support for Vacuum 1C STYTJ01ZHM (dreame.vacuum.mc1808)
  README.rst
  miio/__init__.py
  miio/dreamevacuum_miot.py
  miio/heater.py
  miio/tests/test_dreamevacuum_miot.py
Labels: miot, new device
