Repository rytilahti/python-miio, pull requests merged in 2021-04, with the labels that each got.

#993 Fix set_mode_and_speed mode for airdog airpurifier
  miio/airpurifier_airdog.py
Labels: bug

#975 Add support for Walkingpad A1 (ksmb.walkingpad.v3)
  README.rst
  docs/api/miio.gateway.rst
  docs/api/miio.rst
  miio/__init__.py
  miio/tests/test_walkingpad.py
  miio/walkingpad.py
Labels: miio, new device

#1006 Roborock S7: Parse history details returned as dict
  miio/tests/test_vacuum.py
  miio/vacuumcontainers.py
Labels: enhancement

#1015 Silence unable to decrypt warning for handshake responses
  miio/protocol.py
Labels: bug

#1011 Fix supported oscillation angles of the dmaker.fan.p9
  miio/fan_miot.py
  miio/tests/test_fan_miot.py
Labels: enhancement

#1014 Add test_properties command to device class
  miio/device.py
Labels: enhancement

#1016 gateway: fix zigbee lights
  miio/gateway/devices/light.py
  miio/gateway/devices/subdevices.yaml
Labels: bug

#1017 Fix start bug and improve error handling in walkingpad integration
  miio/tests/test_walkingpad.py
  miio/walkingpad.py
Labels: bug

#1013 Add discover command to miiocli
  docs/discovery.rst
  miio/cli.py
  miio/discovery.py
Labels: documentation, enhancement
