Repository rytilahti/python-miio, pull requests merged in 2021-08, with the labels that each got.

#1110 Add rockrobo-vacuum-a10 to mdns discovery list
  miio/discovery.py
Labels: enhancement

#1111 airpurifier_miot: return OperationMode.Unknown if mode is unknown
  miio/airpurifier_miot.py
Labels: bug

#1112 Add update_service callback for zeroconf listener
  miio/discovery.py
Labels: enhancement

#1087 Add support for Smartmi Standing Fan 3 (zhimi.fan.za5)
  README.rst
  miio/__init__.py
  miio/discovery.py
  miio/fan_miot.py
  miio/tests/test_fan_miot.py
Labels: new device, miot

#1038 Add model autodetection
  miio/airconditioningcompanion.py
  miio/airdehumidifier.py
  miio/airfresh.py
  miio/airfresh_t2017.py
  miio/airhumidifier.py
  miio/airhumidifier_jsq.py
  miio/airhumidifier_mjjsq.py
  miio/airpurifier_airdog.py
  miio/airqualitymonitor.py
  miio/chuangmi_plug.py
  miio/click_common.py
  miio/device.py
  miio/fan.py
  miio/fan_leshow.py
  miio/fan_miot.py
  miio/heater.py
  miio/huizuo.py
  miio/miot_device.py
  miio/philips_bulb.py
  miio/philips_rwread.py
  miio/powerstrip.py
  miio/pwzn_relay.py
  miio/tests/dummies.py
  miio/tests/test_airconditioner_miot.py
  miio/tests/test_airconditioningcompanion.py
  miio/tests/test_airdehumidifier.py
  miio/tests/test_airfresh.py
  miio/tests/test_airfresh_t2017.py
  miio/tests/test_airhumidifier.py
  miio/tests/test_airhumidifier_jsq.py
  miio/tests/test_airhumidifier_mjjsq.py
  miio/tests/test_airpurifier.py
  miio/tests/test_airpurifier_airdog.py
  miio/tests/test_airqualitymonitor.py
  miio/tests/test_chuangmi_plug.py
  miio/tests/test_device.py
  miio/tests/test_fan.py
  miio/tests/test_fan_leshow.py
  miio/tests/test_fan_miot.py
  miio/tests/test_heater.py
  miio/tests/test_huizuo.py
  miio/tests/test_philips_bulb.py
  miio/tests/test_philips_rwread.py
  miio/tests/test_powerstrip.py
  miio/tests/test_toiletlid.py
  miio/tests/test_vacuum.py
  miio/tests/test_wifirepeater.py
  miio/tests/test_yeelight.py
  miio/toiletlid.py
  miio/vacuum.py
  miio/yeelight.py
Labels: enhancement, breaking change

#1126 Update readme with section for related projects
  README.rst
Labels: documentation
