Repository rytilahti/python-miio, pull requests merged in 2022-06, with the labels that each got.

#1437 roborock: Add support for Roborock G10S (roborock.vacuum.a46)
  miio/integrations/vacuum/roborock/vacuum.py
  miio/integrations/vacuum/roborock/vacuumcontainers.py
Labels: new device

#1414 Update troubleshooting to note discovery issues with roborock.vacuum.a27
  docs/troubleshooting.rst
Labels: documentation

#1438 Add quirk fix for double-oh values
  miio/protocol.py
Labels: bug

#1442 Fix outdated vacuum mentions in README
  README.rst
Labels: documentation

#1417 Add support for Smartmi Air Purifier (zhimi.airpurifier.za1)
  README.rst
  miio/integrations/airpurifier/zhimi/airpurifier_miot.py
Labels: new device, miot
