Repository rytilahti/python-miio, pull requests merged in 2022-12, with the labels that each got.

#1613 Ensure that cache directory exists
  miio/miot_cloud.py
Labels: bug

#1596 Add multi map handling to roborock
  miio/integrations/vacuum/roborock/tests/test_vacuum.py
  miio/integrations/vacuum/roborock/vacuum.py
  miio/integrations/vacuum/roborock/vacuumcontainers.py
Labels: enhancement

#1581 Add generic miot support
  README.rst
  miio/__init__.py
  miio/device.py
  miio/devicefactory.py
  miio/integrations/genericmiot/__init__.py
  miio/integrations/genericmiot/genericmiot.py
  miio/miot_device.py
  miio/miot_models.py
  miio/tests/test_devicefactory.py
  miio/tests/test_miot_models.py
  miio/tests/test_miotdevice.py
Labels: enhancement, miot

#1608 Add Roborock S7 MaxV Ultra station sensors
  miio/integrations/vacuum/roborock/tests/test_vacuum.py
  miio/integrations/vacuum/roborock/vacuum_enums.py
  miio/integrations/vacuum/roborock/vacuumcontainers.py
Labels: enhancement

#1620 Use piid-siid instead of did for mapping genericmiot responses
  miio/integrations/genericmiot/genericmiot.py
Labels: bug

#1626 Fix logging undecodable responses
  miio/protocol.py
Labels: bug
