Repository rytilahti/python-miio, pull requests merged in 2022-01, with the labels that each got.

#1302 Improve miotdevice mappings handling
  miio/fan_miot.py
  miio/miot_device.py
  miio/tests/test_miotdevice.py
Labels: enhancement

#1304 Split fan.py to vendor-specific fan integrations
  miio/__init__.py
  miio/discovery.py
  miio/integrations/fan/dmaker/__init__.py
  miio/integrations/fan/dmaker/fan.py
  miio/integrations/fan/dmaker/test_fan.py
  miio/integrations/fan/zhimi/__init__.py
  miio/integrations/fan/zhimi/fan.py
  miio/integrations/fan/zhimi/test_fan.py
Labels: breaking change

#1193 Add support for deerma.humidifier.jsq{s,5}
  README.rst
  miio/__init__.py
  miio/discovery.py
  miio/integrations/humidifier/__init__.py
  miio/integrations/humidifier/deerma/__init__.py
  miio/integrations/humidifier/deerma/airhumidifier_jsqs.py
  miio/integrations/humidifier/deerma/tests/__init__.py
  miio/integrations/humidifier/deerma/tests/test_airhumidifier_jsqs.py
Labels: new device, miot

#1301 Add support for zhimi.heater.za2
  README.rst
  miio/heater_miot.py
Labels: new device, miot

#1287 Add support for Air Purifier 4 Pro
  README.rst
  miio/airpurifier_miot.py
  miio/integrations/vacuum/roborock/vacuumcontainers.py
  miio/protocol.py
  miio/tests/test_airpurifier_miot.py
  miio/tests/test_airpurifier_miot_mb4.py
Labels: new device, miot
