Repository rytilahti/python-miio, pull requests merged in 2022-08, with the labels that each got.

#1484 Add yeelink.light.strip6 support
  miio/integrations/light/yeelight/specs.yaml
Labels: new device

#1486 Fix favorite level for zhimi.airp.rmb1
  miio/integrations/airpurifier/zhimi/airpurifier_miot.py
Labels: bug

#1480 Fix mDNS name for chuangmi.camera.038a2
  miio/discovery.py
Labels: bug

#1487 Suppress deprecated accesses to properties for devicestatus repr
  miio/device.py
Labels: bug

#1488 Implement introspectable sensors
  docs/contributing.rst
  miio/__init__.py
  miio/descriptors.py
  miio/device.py
  miio/devicestatus.py
  miio/powerstrip.py
  miio/tests/test_devicestatus.py
  pyproject.toml
Labels: enhancement

#1494 Implement introspectable switches
  docs/contributing.rst
  miio/descriptors.py
  miio/device.py
  miio/devicestatus.py
  miio/powerstrip.py
  miio/tests/test_devicestatus.py
Labels: enhancement

#1498 Add sensor decorators for roborock vacuums
  miio/integrations/vacuum/roborock/vacuumcontainers.py
Labels: enhancement

#1500 Implement introspectable settings
  docs/contributing.rst
  miio/cooker.py
  miio/descriptors.py
  miio/device.py
  miio/devicestatus.py
  miio/integrations/vacuum/roborock/vacuumcontainers.py
  miio/tests/test_devicestatus.py
  pyproject.toml
Labels: enhancement, breaking change

#1505 Move test-properties to under devtools command
  docs/contributing.rst
  miio/cli.py
  miio/device.py
  miio/devtools.py
Labels: enhancement, breaking change

#1506 Add parse-pcap command to devtools
  docs/contributing.rst
  miio/devtools/__init__.py
  miio/devtools/pcapparser.py
  miio/devtools/propertytester.py
Labels: enhancement

#1514 Add support for dreame trouver finder vacuum
  README.rst
  miio/integrations/vacuum/dreame/dreamevacuum_miot.py
Labels: new device

#1510 Fix support for airqualitymonitor running firmware v4+
  miio/airqualitymonitor.py
  miio/tests/test_airqualitymonitor.py
Labels: bug

#1507 Mark zhimi.airp.mb3a as supported for airpurifier_miot
  miio/integrations/airpurifier/zhimi/airpurifier_miot.py
Labels: bug

#1509 Add yeelink.light.mono6 specs for yeelight
  miio/integrations/light/yeelight/specs.yaml
Labels: enhancement
