Repository rytilahti/python-miio, pull requests merged in 2022-10, with the labels that each got.

#1497 Add support Mi Robot Vacuum-Mop 2 Pro (ijai.vacuum.v3)
  miio/__init__.py
  miio/integrations/vacuum/mijia/__init__.py
  miio/integrations/vacuum/mijia/pro2vacuum.py
  miio/integrations/vacuum/mijia/tests/test_pro2vacuum.py
Labels: new device, miot

#1482 Add smb share feature for Chuangmi Camera
  miio/chuangmi_camera.py
Labels: enhancement

#1556 Implement device factory
  miio/__init__.py
  miio/cli.py
  miio/click_common.py
  miio/device.py
  miio/devicefactory.py
  miio/integrations/light/yeelight/spec_helper.py
  miio/integrations/light/yeelight/specs.yaml
  miio/integrations/light/yeelight/tests/test_yeelight_spec_helper.py
  miio/integrations/light/yeelight/yeelight.py
  miio/tests/test_devicefactory.py
  miio/tests/test_miotdevice.py
Labels: enhancement

#1560 Add VacuumDeviceStatus and VacuumState
  .pre-commit-config.yaml
  miio/integrations/vacuum/roborock/vacuumcontainers.py
  miio/integrations/viomidishwasher/test_viomidishwasher.py
  miio/interfaces/vacuuminterface.py
  poetry.lock
  pyproject.toml
Labels: enhancement

#1561 Add miot-simulator docs
  docs/simulator.rst
Labels: documentation

#1562 Fix yeelight status for white-only bulbs
  miio/integrations/light/yeelight/yeelight.py
Labels: bug

#1564 Improve serverprotocol error handling
  miio/push_server/server.py
  miio/push_server/serverprotocol.py
  miio/push_server/test_serverprotocol.py
Labels: enhancement
