Repository rytilahti/python-miio, pull requests merged in 2022-11, with the labels that each got.

#1557 Add descriptors for yeelight
  miio/__init__.py
  miio/integrations/light/yeelight/spec_helper.py
  miio/integrations/light/yeelight/tests/test_yeelight_spec_helper.py
  miio/integrations/light/yeelight/yeelight.py
  miio/interfaces/__init__.py
  miio/interfaces/lightinterface.py
Labels: enhancement

#1568 Use rich for logging and cli print outs
  miio/cli.py
  miio/click_common.py
  miio/devtools/pcapparser.py
  miio/miioprotocol.py
Labels: enhancement

#1576 Allow passing custom name for miotdevice.set_property_by
  miio/miot_device.py
  miio/tests/test_miotdevice.py
Labels: enhancement, breaking change

#1577 Add models to parse miotspec files to miio module
  miio/devtools/simulators/miotsimulator.py
  miio/devtools/simulators/models.py
  miio/miot_models.py
  miio/tests/test_miot_models.py
Labels: enhancement

#1578 Add interface to obtain miot schemas
  miio/devtools/simulators/miotsimulator.py
  miio/miot_cloud.py
Labels: enhancement

#1587 Implement choices_attribute for setting decorator
  miio/device.py
  miio/devicestatus.py
Labels: enhancement

#1589 Use __qualname__ to make ids unique for settings and sensors
  miio/devicestatus.py
Labels: bug

#1588 Implement introspectable actions
  docs/contributing.rst
  miio/device.py
  miio/devicestatus.py
  miio/integrations/vacuum/roborock/vacuum.py
Labels: enhancement

#1601 Off fan speed for Roborock S7
  miio/integrations/vacuum/roborock/vacuum_enums.py
Labels: enhancement

#1559 Improve viomi.vacuum.v8 (styj02ym) support
  miio/integrations/vacuum/viomi/viomivacuum.py
Labels: enhancement, breaking change

#1603 Expose dnd status, add actions for viomivacuum
  miio/integrations/vacuum/viomi/viomivacuum.py
Labels: enhancement

#1607 Remove long-deprecated miio.vacuum module
  miio/vacuum.py
Labels: breaking change

#1606 Fix inconsistent constructor signatures for device classes
  miio/airconditioningcompanion.py
  miio/airconditioningcompanionMCN.py
  miio/gateway/gateway.py
  miio/huizuo.py
  miio/integrations/fan/dmaker/fan.py
  miio/integrations/fan/dmaker/fan_miot.py
  miio/integrations/light/yeelight/yeelight.py
  miio/integrations/vacuum/roborock/vacuum.py
  miio/integrations/vacuum/viomi/viomivacuum.py
  miio/tests/test_device.py
Labels: bug
