Repository rytilahti/python-miio, pull requests merged in 2022-03, with the labels that each got.

#1343 Remove deprecated integration classes
  miio/__init__.py
  miio/airfresh.py
  miio/airhumidifier.py
  miio/airpurifier_airdog.py
  miio/airpurifier_miot.py
  miio/chuangmi_plug.py
  miio/discovery.py
  miio/integrations/fan/dmaker/__init__.py
  miio/integrations/fan/dmaker/fan_miot.py
  miio/integrations/vacuum/dreame/dreamevacuum_miot.py
  miio/integrations/vacuum/roborock/__init__.py
  miio/integrations/vacuum/roborock/tests/test_vacuum.py
  miio/integrations/vacuum/roborock/vacuum.py
  miio/tests/test_airpurifier_airdog.py
  miio/tests/test_device.py
Labels: breaking change

#1357 Add support for Air Purifier 4 (zhimi.airp.mb5)
  README.rst
  miio/airpurifier_miot.py
  miio/tests/test_airpurifier_miot.py
Labels: new device, miot

#1360 Catch exceptions during quirk handling
  miio/protocol.py
Labels: bug

#1356 Support for Xiaomi Vaccum Mop 2 Ultra and Pro+ (dreame)
  README.rst
  miio/integrations/vacuum/dreame/dreamevacuum_miot.py
  miio/integrations/vacuum/dreame/tests/test_dreamevacuum_miot.py
Labels: new device, miot

#1363 Retry on error code -9999
  miio/miioprotocol.py
  miio/tests/test_protocol.py
Labels: bug
