Repository rytilahti/python-miio, pull requests merged in 2022-04, with the labels that each got.

#1383 Add cloud extractor for token extraction to documentation
  docs/discovery.rst
Labels: documentation

#1384 Add device_id property to Device class
  miio/device.py
  miio/tests/test_device.py
Labels: enhancement

#1382 Add support for dreame.vacuum.p2150o
  miio/integrations/vacuum/dreame/dreamevacuum_miot.py
Labels: new device

#1378 Require click8+ (API incompatibility on result_callback)
  miio/integrations/vacuum/roborock/vacuum_cli.py
  poetry.lock
  pyproject.toml
Labels: bug, breaking change

#1390 Use result_callback (click8+) in roborock integration
  miio/integrations/vacuum/roborock/vacuum.py
Labels: bug

#1399 Add zhimi.airp.vb4 support (air purifier 4 pro)
  miio/integrations/airpurifier/zhimi/airpurifier_miot.py
Labels: new device, miot

#1402 Add zhimi.airp.rmb1 support
  README.rst
  miio/integrations/airpurifier/zhimi/airpurifier_miot.py
Labels: new device, miot
