Repository rytilahti/python-miio, pull requests merged in 2022-09, with the labels that each got.

#1519 Make unit optional for @setting, fix type hint for choices
  miio/devicestatus.py
Labels: enhancement

#1522 Add support for dreame.vacuum.p2029
  README.rst
  miio/integrations/vacuum/dreame/dreamevacuum_miot.py
Labels: new device, miot

#1521 Use asyncio facilities for push server where possible
  docs/examples/push_server/gateway_alarm_trigger.py
  docs/examples/push_server/gateway_button_press.py
  docs/push_server.rst
  miio/gateway/alarm.py
  miio/gateway/devices/subdevice.py
  miio/gateway/gateway.py
  miio/push_server/server.py
  miio/push_server/serverprotocol.py
Labels: enhancement

#1520 Fix roborock timers' next_schedule on repeated requests
  miio/integrations/vacuum/roborock/vacuumcontainers.py
  miio/tests/test_vacuums.py
Labels: bug

#1527 Add support for zhimi.airp.mb5a
  miio/integrations/airpurifier/zhimi/airpurifier_miot.py
Labels: new device, miot

#1508 Expose sensors, switches, and settings for zhimi.airhumidifier
  miio/integrations/humidifier/zhimi/airhumidifier.py
Labels: enhancement

#1525 Skip write-only properties for miot status requests
  miio/miot_device.py
  miio/tests/test_miotdevice.py
Labels: bug

#1526 Implement embedding DeviceStatus containers
  docs/contributing.rst
  miio/devicestatus.py
  miio/integrations/vacuum/roborock/tests/test_vacuum.py
  miio/integrations/vacuum/roborock/vacuum.py
  miio/tests/test_devicestatus.py
Labels: enhancement

#1530 Use typing.List for devtools/pcapparser
  miio/devtools/pcapparser.py
Labels: bug

#1533 Add descriptors for zhimi.fan.{v2,v3,sa1,za1,za3,za4}
  miio/integrations/fan/zhimi/fan.py
Labels: enhancement

#1531 Make pushserver more generic
  miio/push_server/server.py
  miio/push_server/serverprotocol.py
  miio/push_server/test_serverprotocol.py
  poetry.lock
  pyproject.toml
Labels: enhancement

#1532 Add basic miIO simulator
  docs/discovery.rst
  docs/index.rst
  docs/push_server.rst
  docs/simulator.rst
  docs/troubleshooting.rst
  miio/devtools/__init__.py
  miio/devtools/simulators/__init__.py
  miio/devtools/simulators/common.py
  miio/devtools/simulators/miiosimulator.py
  miio/integrations/fan/zhimi/zhimi_fan.yaml
  poetry.lock
  pyproject.toml
  tox.ini
Labels: enhancement

#877 Add support for the Xiaomi/Viomi Dishwasher (viomi.dishwasher.m02)
  README.rst
  miio/__init__.py
  miio/integrations/viomidishwasher/__init__.py
  miio/integrations/viomidishwasher/test_viomidishwasher.py
  miio/integrations/viomidishwasher/viomidishwasher.py
Labels: new device, miio

#1539 Add miot simulator
  miio/devtools/__init__.py
  miio/devtools/simulators/__init__.py
  miio/devtools/simulators/miotsimulator.py
  miio/devtools/simulators/models.py
Labels: enhancement

#1540 Prefer newest, released release for miottemplate
  devtools/containers.py
  devtools/miottemplate.py
Labels: bug

#1538 Allow custom methods for miio simulator
  docs/simulator.rst
  miio/devtools/simulators/miiosimulator.py
  miio/integrations/vacuum/roborock/simulated_roborock.yaml
Labels: enhancement
