Repository rytilahti/python-miio, pull requests merged in 2022-07, with the labels that each got.

#1449 fix lumi.plug.mmeu01 ZNCZ04LM
  miio/gateway/devices/subdevices.yaml
Labels: bug

#1446 Add push server implementation to enable event handling
  docs/examples/push_server/gateway_alarm_trigger.py
  docs/examples/push_server/gateway_button_press.py
  docs/index.rst
  docs/push_server.rst
  miio/__init__.py
  miio/push_server/__init__.py
  miio/push_server/eventinfo.py
  miio/push_server/server.py
  miio/push_server/serverprotocol.py
Labels: enhancement

#1457 Add soundpack install support for vacuum/dreame
  miio/integrations/vacuum/dreame/dreamevacuum_miot.py
Labels: enhancement

#1456 Improve gateway get_devices_from_dict
  miio/gateway/gateway.py
Labels: enhancement

#1460 Implement fetching device tokens from the cloud
  docs/discovery.rst
  docs/legacy_token_extraction.rst
  miio/__init__.py
  miio/cli.py
  miio/cloud.py
  poetry.lock
  pyproject.toml
Labels: enhancement

#1462 Consolidate supported models for class and instance properties
  miio/device.py
Labels: bug

#1465 Remove docs for now-removed mi{ceil,plug,eyecare} cli tools
  docs/device_docs/ceil.rst
  docs/device_docs/eyecare.rst
  docs/device_docs/plug.rst
Labels: documentation

#1459 Implement push notifications for gateway
  docs/device_docs/gateway.rst
  miio/gateway/alarm.py
  miio/gateway/devices/subdevice.py
  miio/gateway/devices/subdevices.yaml
  miio/gateway/gateway.py
  miio/gateway/gatewaydevice.py
  miio/push_server/__init__.py
  miio/push_server/server.py
Labels: enhancement

#1466 Various documentation cleanups
  docs/api/miio.airconditioningcompanion.rst
  docs/api/miio.airconditioningcompanionMCN.rst
  docs/api/miio.airdehumidifier.rst
  docs/api/miio.airfilter_util.rst
  docs/api/miio.airfresh.rst
  docs/api/miio.airfresh_t2017.rst
  docs/api/miio.airhumidifier.rst
  docs/api/miio.airhumidifier_jsq.rst
  docs/api/miio.airhumidifier_miot.rst
  docs/api/miio.airhumidifier_mjjsq.rst
  docs/api/miio.airpurifier.rst
  docs/api/miio.airpurifier_miot.rst
  docs/api/miio.airqualitymonitor.rst
  docs/api/miio.alarmclock.rst
  docs/api/miio.aqaracamera.rst
  docs/api/miio.ceil.rst
  docs/api/miio.chuangmi_camera.rst
  docs/api/miio.chuangmi_ir.rst
  docs/api/miio.chuangmi_plug.rst
  docs/api/miio.cli.rst
  docs/api/miio.click_common.rst
  docs/api/miio.cooker.rst
  docs/api/miio.device.rst
  docs/api/miio.discovery.rst
  docs/api/miio.exceptions.rst
  docs/api/miio.extract_tokens.rst
  docs/api/miio.fan.rst
  docs/api/miio.fan_common.rst
  docs/api/miio.fan_miot.rst
  docs/api/miio.gateway.rst
  docs/api/miio.heater.rst
  docs/api/miio.miioprotocol.rst
  docs/api/miio.miot_device.rst
  docs/api/miio.philips_bulb.rst
  docs/api/miio.philips_eyecare.rst
  docs/api/miio.philips_moonlight.rst
  docs/api/miio.philips_rwread.rst
  docs/api/miio.powerstrip.rst
  docs/api/miio.protocol.rst
  docs/api/miio.pwzn_relay.rst
  docs/api/miio.rst
  docs/api/miio.toiletlid.rst
  docs/api/miio.updater.rst
  docs/api/miio.utils.rst
  docs/api/miio.vacuum.rst
  docs/api/miio.vacuum_cli.rst
  docs/api/miio.vacuumcontainers.rst
  docs/api/miio.viomivacuum.rst
  docs/api/miio.waterpurifier.rst
  docs/api/miio.wifirepeater.rst
  docs/api/miio.wifispeaker.rst
  docs/api/miio.yeelight.rst
  docs/api/modules.rst
  docs/conf.py
  docs/device_docs/vacuum.rst
Labels: documentation

#1464 add zhimi.airpurifier.amp1 support
  miio/integrations/airpurifier/zhimi/airpurifier_miot.py
Labels: new device, miot

#1469 Drop support for python 3.7
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .travis.yml
  miio/__init__.py
  miio/miioprotocol.py
  poetry.lock
  pyproject.toml
  tox.ini
Labels: breaking change

#1472 Build readthedocs on python3.9
  .readthedocs.yml
  docs/conf.py
Labels: documentation

#1477 fix bright level in set_led_brightness for miot purifiers
  miio/integrations/airpurifier/zhimi/airpurifier_miot.py
  miio/integrations/airpurifier/zhimi/tests/test_airpurifier_miot.py
Labels: bug

#1478 Add missing functools.wraps() for @command decorated methods
  miio/click_common.py
Labels: bug
