Repository rytilahti/python-miio, pull requests merged in 2023-02, with the labels that each got.

#1709 add specs for yeelink.light.colorb
  miio/integrations/yeelight/light/specs.yaml
Labels: enhancement

#1711 Add parent reference to embedded containers
  miio/devicestatus.py
  miio/tests/test_devicestatus.py
Labels: enhancement

#1710 Allow defining device_id for push server
  miio/devtools/simulators/common.py
  miio/devtools/simulators/miiosimulator.py
  miio/devtools/simulators/miotsimulator.py
  miio/push_server/server.py
  miio/push_server/serverprotocol.py
  miio/push_server/test_serverprotocol.py
Labels: enhancement, breaking change

#1712 Require name for status embedding
  miio/devicestatus.py
  miio/integrations/roborock/vacuum/vacuum.py
  miio/integrations/viomi/viomi/viomivacuum.py
  miio/tests/test_devicestatus.py
Labels: enhancement

#1685 Improve roborock update handling
  miio/integrations/roborock/vacuum/tests/test_updatehelper.py
  miio/integrations/roborock/vacuum/tests/test_vacuum.py
  miio/integrations/roborock/vacuum/updatehelper.py
  miio/integrations/roborock/vacuum/vacuum.py
  miio/tests/dummies.py
Labels: enhancement

#1715 Rename SettingDescriptor's type to setting_type
  miio/descriptors.py
  miio/device.py
  miio/miot_models.py
Labels: breaking change

#1716 Add tests to genericmiot's get_descriptor
  miio/miot_models.py
  miio/tests/fixtures/miot/boolean_property.json
  miio/tests/fixtures/miot/enum_property.json
  miio/tests/fixtures/miot/ranged_property.json
  miio/tests/test_miot_models.py
Labels: bug

#1722 Allow gatt-access for miotproperties
  miio/miot_models.py
Labels: bug

#1723 Use normalized property names for genericmiotstatus
  miio/integrations/genericmiot/genericmiot.py
  miio/miot_models.py
  miio/tests/test_miot_models.py
Labels: enhancement

#1724 Allow defining id for descriptor decorators
  miio/devicestatus.py
Labels: enhancement

#1730 Add roborock mop washing actions
  miio/integrations/roborock/vacuum/vacuum.py
Labels: enhancement

#1729 Use standard identifiers for roborock
  miio/identifiers.py
  miio/integrations/roborock/vacuum/vacuum.py
  miio/integrations/roborock/vacuum/vacuumcontainers.py
Labels: enhancement

#1736 Remove unsupported settings first after initialization is done
  miio/device.py
Labels: bug

#1737 Simplify install from git instructions
  README.md
Labels: documentation

#1738 Make optional deps really optional
  pyproject.toml
Labels: enhancement

#1741 Add standard identifiers for fans
  miio/identifiers.py
Labels: enhancement

#1743 Remove {Light,Vacuum}Interfaces
  miio/__init__.py
  miio/identifiers.py
  miio/integrations/dreame/vacuum/dreamevacuum_miot.py
  miio/integrations/ijai/vacuum/pro2vacuum.py
  miio/integrations/mijia/vacuum/g1vacuum.py
  miio/integrations/roborock/vacuum/vacuum.py
  miio/integrations/roborock/vacuum/vacuumcontainers.py
  miio/integrations/roidmi/vacuum/roidmivacuum_miot.py
  miio/integrations/viomi/vacuum/viomivacuum.py
  miio/integrations/yeelight/light/spec_helper.py
  miio/integrations/yeelight/light/tests/test_yeelight_spec_helper.py
  miio/integrations/yeelight/light/yeelight.py
  miio/interfaces/__init__.py
  miio/interfaces/lightinterface.py
  miio/interfaces/vacuuminterface.py
  miio/tests/test_vacuums.py
Labels: breaking change
