Repository rytilahti/python-miio, pull requests merged in 2023-01, with the labels that each got.

#1621 Add mop dryer add-on of the S7 MaxV Ultra station
  miio/integrations/vacuum/roborock/tests/test_vacuum.py
  miio/integrations/vacuum/roborock/vacuum.py
  miio/integrations/vacuum/roborock/vacuumcontainers.py
Labels: enhancement

#1630 Add support for pet waterer mmgg.pet_waterer.wi11
  README.rst
  miio/integrations/petwaterdispenser/device.py
Labels: enhancement, new device

#1646 roborock: Fix waterflow setting for Q7 Max+
  miio/integrations/vacuum/roborock/tests/test_vacuum.py
  miio/integrations/vacuum/roborock/vacuum.py
Labels: enhancement

#1650 Add more status codes for dreamevacuum
  miio/integrations/vacuum/dreame/dreamevacuum_miot.py
Labels: enhancement

#1659 Add supports_miot to device class
  miio/device.py
  miio/tests/test_device.py
Labels: enhancement

#1660 Improve info output (command to use, miot support)
  miio/device.py
Labels: enhancement

#1661 Add firmware_features command to roborock
  miio/integrations/vacuum/roborock/vacuum.py
Labels: enhancement

#1662 Handle non-readable miot properties
  miio/integrations/genericmiot/genericmiot.py
  miio/miot_models.py
  miio/tests/test_miot_models.py
Labels: enhancement

#1666 Use python3 for update firmware docs
  docs/device_docs/vacuum.rst
Labels: documentation

#1664 Prettier settings and status for genericmiot
  miio/device.py
  miio/integrations/genericmiot/genericmiot.py
Labels: enhancement

#1663 Implement input parameters for actions
  miio/descriptors.py
  miio/devtools/simulators/miotsimulator.py
  miio/integrations/genericmiot/genericmiot.py
  miio/miot_models.py
Labels: enhancement

#1674 Fix json output handling for genericmiot
  miio/devicestatus.py
  miio/integrations/genericmiot/genericmiot.py
Labels: bug

#1675 Pass package_name to click.version_option()
  miio/cli.py
Labels: bug

#1677 viomivacuum: Fix incorrect attribute accesses on status output
  miio/integrations/vacuum/viomi/viomivacuum.py
Labels: bug

#1676 Fix incorrect super().__getattr__() use on devicestatus
  miio/click_common.py
  miio/devicestatus.py
  miio/tests/test_devicestatus.py
Labels: bug

#1682 Fix access to embedded status containers
  miio/devicestatus.py
  miio/tests/test_devicestatus.py
Labels: enhancement

#1684 Use descriptors for default status command cli output
  docs/contributing.rst
  miio/click_common.py
  miio/devicestatus.py
  miio/integrations/fan/zhimi/fan.py
  miio/integrations/genericmiot/genericmiot.py
  miio/integrations/humidifier/zhimi/airhumidifier.py
  miio/integrations/vacuum/mijia/pro2vacuum.py
  miio/integrations/vacuum/viomi/viomivacuum.py
  miio/tests/test_devicestatus.py
Labels: enhancement

#1656 Support for Xiaomi Baseboard Heater 1S (leshow.heater.bs1s)
  miio/heater_miot.py
Labels: new device, miot

#1686 Fix broken logging when miotcloud reports multiple available versions
  miio/miot_cloud.py
Labels: bug

#1690 Fix read-only check for miotsimulator
  miio/devtools/simulators/miotsimulator.py
Labels: bug

#1689 Update and restructure the readme
  README.md
  README.rst
  docs/conf.py
  docs/index.rst
  poetry.lock
  pyproject.toml
Labels: documentation

#1691 Miscellaneous janitor work
  .github/ISSUE_TEMPLATE/new-device.md
  README.md
Labels: documentation

#1693 Do not crash on extranous urn components
  miio/devtools/simulators/miotsimulator.py
  miio/miot_models.py
  miio/tests/test_miot_models.py
Labels: bug

#1699 Improve cloud interface and cli
  miio/__init__.py
  miio/cloud.py
  miio/tests/fixtures/micloud_devices_response.json
  miio/tests/test_cloud.py
Labels: enhancement

#1701 Cache descriptors on first access
  miio/device.py
  miio/tests/dummies.py
  miio/tests/test_device.py
  miio/tests/test_devicestatus.py
Labels: enhancement
