Repository rytilahti/python-miio, pull requests merged in 2024-03, with the labels that each got.

#1787 Set zhimi.fan.za4 countdown timer to minutes
  miio/integrations/zhimi/fan/fan.py
  miio/integrations/zhimi/fan/test_fan.py
Labels: enhancement

#1915 Linking poetry tool on getting started section of documentation
  docs/discovery.rst
Labels: documentation

#1916 Various fixes to roborockvacuum
  miio/descriptorcollection.py
  miio/device.py
  miio/integrations/roborock/vacuum/vacuum.py
  miio/integrations/roborock/vacuum/vacuumcontainers.py
  miio/tests/dummies.py
  miio/tests/test_descriptorcollection.py
  miio/tests/test_device.py
Labels: bug

#1914 Roborock: various improvements to exposed sensors
  miio/integrations/roborock/vacuum/vacuum.py
  miio/integrations/roborock/vacuum/vacuumcontainers.py
Labels: enhancement
