Repository rytilahti/python-miio, pull requests merged in 2024-05, with the labels that each got.

#1018 Initial support for chunmi.cooker.eh1
  .github/workflows/ci.yml
  miio/__init__.py
  miio/data/cooker_profiles.json
  miio/integrations/chunmi/cooker_multi/__init__.py
  miio/integrations/chunmi/cooker_multi/cooker_multi.py
  miio/integrations/chunmi/cooker_multi/test_cooker_multi.py
  poetry.lock
  pyproject.toml
Labels: new device, miio

#1929 zhimi-rma2 support and descriptors for air purifier settings and sensors
  miio/integrations/zhimi/airpurifier/airpurifier_miot.py
Labels: enhancement, new device

#1922 fix json decode quirk for xiaomi e10
  miio/protocol.py
  miio/tests/test_protocol.py
Labels: bug

#1885 Added initial zhimi.humidifier.ca6 support
  miio/__init__.py
  miio/integrations/zhimi/humidifier/__init__.py
  miio/integrations/zhimi/humidifier/airhumidifier_miot.py
  miio/integrations/zhimi/humidifier/tests/test_airhumidifier_miot_ca6.py
Labels: enhancement, new device
